<div class="col-xs-12 text-center">
    <h3>
        <span class="label label-primary text-uppercase">Система складского учёта для ветеринарной клиники "СИРИУС-ВЕТ"</span>
    </h3>
    <hr>
    <div class="col-xs-12">
        <img src="../../../assets/images/aspnetcore.png" height="100px">
    </div>

    <div class="col-xs-12">
        <img src="../../../assets/images/angular.png" height="125px">
        <img src="../../../assets/images/bootstrap.png" height="125px">
    </div>

    <div class="col-xs-12">
        <img src="../../../assets/images/typescript.png" height="100px">
    </div>

    <hr>
    <span class="label label-primary">
        <strong class="text-uppercase">
            Vladimir Amelkin, 2018
        </strong>
    </span>
</div>