<div class="form-group" *ngIf="filterService.params.name">
    <input type="text" class="form-control" name="name" [(ngModel)]="filterService.filter.name" placeholder="Введите часть названия">
</div>

<div class="form-group" *ngIf="filterService.params.category">
    <label for="filterCategories">Категория</label>
    <select class="form-control" [(ngModel)]="filterService.filter.categoryId" (change)="onCategoryChanged()" name="filterCategories">
        <option *ngFor="let option of optionCategories" [value]="option.id">{{option.text}}</option>
    </select>
    <!--<ng-select [items]="optionCategories" [allowClear]="true" placeholder="Категория" filterPlaceholder="Введите категорию для поиска"
        (selected)="onCategoryChanged($event)" (deselected)="getAllItems()">
    </ng-select>-->
</div>

<div class="form-group" *ngIf="filterService.params.item">
    <label for="filterItems">Наименование</label>
    <select class="form-control" [(ngModel)]="filterService.filter.itemId" name="filterItems">
        <option *ngFor="let option of optionItems" [value]="option.id">{{option.text}}</option>
    </select>
    <!--<ng-select [items]="optionItems" [allowClear]="true" placeholder="Наименование" filterPlaceholder="Введите наименование для поиска"
        (selected)="onItemChanged($event)" >
    </ng-select>-->
</div>

<div class="form-group" *ngIf="filterService.params.vendor">
    <label for="filterItems">Поставщик</label>
    <select class="form-control" [(ngModel)]="filterService.filter.vendorId" name="filterVendors">
        <option *ngFor="let option of optionVendors" [value]="option.id">{{option.text}}</option>
    </select>
    <!--<ng-select [items]="optionVendors" [allowClear]="true" placeholder="Поставщик" filterPlaceholder="Введите поставщика для поиска"
        (selected)="onVendorChanged($event)">
    </ng-select>-->
</div>

<div class="row" *ngIf="filterService.params.date">
    <div class="col-xs-6">
        <div class="form-group">
            <input type="date" class="form-control" [(ngModel)]="filterService.filter.startDate" data-toggle="tooltip" data-placement="top"
                title="Начальная дата поиска">
        </div>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <input type="date" class="form-control" [(ngModel)]="filterService.filter.finishDate" data-toggle="tooltip" data-placement="top"
                title="Конечная дата поиска">
        </div>
    </div>
</div>

<div class="checkbox-inline" *ngIf="filterService.params.fixedOnly">
    <label>
        <input type="checkbox" [(ngModel)]="filterService.filter.fixedOnly">Только проведённые
    </label>
</div>

<div class="checkbox-inline" *ngIf="filterService.params.isDynamic">
    <label>
        <input type="checkbox" [(ngModel)]="filterService.filter.isDynamic" (click)="onBatchCalcMethodToggle()">Диначеские остатки
    </label>
</div>

<div class="checkbox-inline" *ngIf="filterService.params.isMinimumLimit">
    <label>
        <input type="checkbox" [(ngModel)]="filterService.filter.isMinimumLimit">Критические остатки
    </label>
</div>

<button class="btn btn-default btn-block" (click)="onCleanFilter()">Сбросить</button>
<hr>