<div class="row">

    <div class="col-12">
        <img *ngIf="loading" src="../../../assets/images/loading.gif">
    </div>

    <div *ngIf="!loading" class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="panel panel-default">
            <div class="panel-heading">Фильтр</div>
            <div class="panel-body">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Наименование">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Цена">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Остаток">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Единицы измерения">
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="btn btn-default btn-block" [routerLink]="['/newitem']">Новый</a>
                <a class="btn btn-default btn-block" (click)="createTestInvoice()">Создать1</a>
            </div>
        </div>
    </div>

    <div *ngIf="!loading" class="col-xs-12 col-sm-8 col-sm-pull-4 text-center">
        <div class="panel panel-default">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th class="text-center">№</th>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Дата</th>
                </tr>
                <tr *ngFor="let invoice of invoices; let n = index" class="select-block" (click)="invoiceListItemClick(invoice.id)">
                    <td class="text-center">{{n+1}}</td>
                    <td>{{invoice.name}}</td>
                    <td>{{invoice.author}}</td>
                    <td>{{invoice.createDate}}</td>
                </tr>
            </table>
            <div class="panel-footer">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>