<div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">

        <img *ngIf="loading" src="../../../assets/images/loading.gif">

        <div *ngIf="!loading">
            <button class="btn btn-default" (click)="openModal('modal-new-category')">Добавить</button>
            <hr>
            <div class="panel panel-default">
                <table class="table table-hover table-striped table-bordered">
                    <tr>
                        <th class="text-center">№</th>
                        <th>Категории</th>
                    </tr>
                    <tr *ngFor="let category of categories; let n = index" (click)="openCategory(category.id)" class="select-block">
                        <td class="text-center">{{n+1}}</td>
                        <td>{{ category.name }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<modal id="modal-new-category">
    <div id="myModal" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Новая единица измерения</h4>
                </div>
                <form name="form" (ngSubmit)="f.form.valid && addCategory()" #f="ngForm" novalidate>
                    <div class="modal-body">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                            <label for="category-name">Название</label>
                            <input type="text" class="form-control" name="category-name" [(ngModel)]="category.name" #name="ngModel" required />
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Требуется ввести название</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Создать</button>
                            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                            />
                            <a (click)="closeModal('modal-new-item')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>

<modal id="modal-edit-category">
        <div id="myModal-2" class="modal show" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Единица измерения</h4>
                    </div>
                    <form name="form" (ngSubmit)="f.form.valid && updateCategory()" #f="ngForm" novalidate>
                        <div class="modal-body">
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                                <label for="category-name">Название</label>
                                <input type="text" class="form-control" name="category-name" [(ngModel)]="category.name" #name="ngModel" required />
                                <div *ngIf="f.submitted && !name.valid" class="help-block">Требуется ввести название</div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="form-group">
                                <button [disabled]="loading" class="btn btn-primary">Обновить</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />
                                <a (click)="closeModal('modal-new-item')" class="btn btn-link">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </modal>