<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="panel-group" id="item-accordion-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" data-target="#filter-panel">
                        Фильтр
                    </a>
                </div>
                <div id="filter-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <app-filter></app-filter>
                        <button class="btn btn-default btn-block" (click)="getItemsByFilter()">Сформировать</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#item-accordion" data-target="#control-panel">
                        Управление
                    </a>
                </div>
                <div id="control-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <button class="btn btn-default btn-block" (click)="onCreateItem()">Создать</button>
                        <button class="btn btn-default btn-block" (click)="onOpenItem()" [ngClass]="{'disabled' : selectedItemId == null || selectedItemId == ''}">Открыть</button>
                        <button class="btn btn-default btn-block" (click)="onDeleteItem()" [ngClass]="{'disabled' : selectedItemId == null || selectedItemId == ''}">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-pull-4 text-center">
        <app-loading-icon></app-loading-icon>
        <div class="panel panel-default" *ngIf="!loadingService.getLoadingStatus()">
            <table class="table table-hover table-striped table-bordered">
                <tr>
                    <th class="text-center">№</th>
                    <th>Наименования</th>
                    <th>Мин. остаток</th>
                </tr>
                <tr *ngFor="let item of items; let n = index" (click)="onSelectItem(item.id)" (dblclick)="onOpenItem()" class="select-block"
                    [ngClass]="{'class.info': item.Id == selectedItemId}" [style.cursor]="'pointer'" [ngStyle]="{'cursor': 'pointer'}">
                    <td class="text-center">{{n+1}}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.minimumLimit }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<modal id="modal-new-item">
    <div id="modal-1" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Новое наименование</h4>
                </div>
                <form name="form1" (ngSubmit)="onAddItem()" #f="ngForm" novalidate>
                    <div class="modal-body">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                            <label for="item-name">Название</label>
                            <input type="text" class="form-control" name="item-name" [(ngModel)]="item.name" #name="ngModel" required />
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Требуется ввести название</div>
                        </div>

                        <div>
                            <label for="item-category">Категория</label>
                            <select class="form-control" name="item-category" [(ngModel)]="item.categoryId" #category="ngModel" required>
                                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                            </select>
                        </div>

                        <div>
                            <label for="item-dimension">Единица измерения</label>
                            <select class="form-control" name="item-dimension" [(ngModel)]="item.dimensionId" #dimension="ngModel" required>
                                <option *ngFor="let dimension of dimensions" value="{{dimension.id}}">{{dimension.name}}</option>
                            </select>
                        </div>

                        <div>
                            <label for="item-minimumlimit">Минимальный остаток</label>
                            <input type="number" class="form-control" name="item-minimumlimit" [(ngModel)]="item.minimumLimit">
                        </div>

                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" name="item-countless" [(ngModel)]="item.isCountless">Бесконечное
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button class="btn btn-primary">Создать</button>
                            <a (click)="closeModal('modal-new-item')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>

<modal id="modal-edit-item">
    <div id="modal-2" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Изменить данные наименования</h4>
                </div>
                <form name="form2" (ngSubmit)="f.form.valid && onUpdateItem()" #f="ngForm" novalidate>
                    <div class="modal-body">
                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                            <label for="item-edit-name">Название</label>
                            <input type="text" class="form-control" name="item-edit-name" [(ngModel)]="item.name" #name="ngModel" required />
                            <div *ngIf="f.submitted && !name.valid" class="help-block">Требуется ввести название</div>
                        </div>

                        <div class="form-group">
                            <label for="item-edit-category">Категория</label>
                            <select class="form-control" name="item-edit-category" [(ngModel)]="item.category.id" #category="ngModel" required>
                                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="item-edit-dimension">Единица измерения</label>
                            <select class="form-control" name="item-edit-dimension" [(ngModel)]="item.dimension.id" #dimension="ngModel" required>
                                <option *ngFor="let dimension of dimensions" value="{{dimension.id}}">{{dimension.name}}</option>
                            </select>
                        </div>

                        <div>
                            <label for="item-minimumlimit">Минимальный остаток</label>
                            <input type="number" class="form-control" name="item-minimumlimit" [(ngModel)]="item.minimumLimit">
                        </div>

                        <div class="checkbox-inline">
                            <label>
                                <input type="checkbox" name="item-countless" [(ngModel)]="item.isCountless">Невычисляемое
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <a class="btn btn-danger" (click)="onDeleteItem()" [ngClass]="{'disabled' : selectedItemId == null || selectedItemId == ''}">Удалить</a>
                            <button class="btn btn-primary">Обновить</button>
                            <a (click)="closeModal('modal-edit-item')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>