<div class="panel panel-default">
    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th class="text-center">№</th>
            <th>Логин</th>
            <th>ФИО</th>
            <th>Дата регистрации</th>
        </tr>
        <tr *ngFor="let user of users; let n = index">
            <td class="text-center">{{n}}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.fitstname }} {{ user.lastname }}</td>
            <td></td>
        </tr>
    </table>
</div>