<div class="row">
    <div class="col-xs-12" *ngIf="loading">
        <img class="center-block" src="../../../assets/images/loading.gif">
    </div>

    <div *ngIf="!loading" class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="panel-group" id="invoice-accordion-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#invoice-accordion" data-target="#info-panel">
                        Информация
                    </a>
                </div>
                <div id="info-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Дата создания: </p>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#invoice-accordion" data-target="#edit-panel">
                        Редактирование
                    </a>
                </div>
                <div id="edit-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <button class="btn btn-default btn-block" (click)="onCreate()">Добавить</button>
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : !selectedRegister}" (click)="onOpen(selectedRegister.id)">Изменить</button>
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : !selectedRegister}" (click)="onDelete()">Удалить</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#invoice-accordion" data-target="#control-panel">
                        Управление
                    </a>
                </div>
                <div id="control-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : invoice.isFixed}" (click)="onFix()">Провести</button>
                        <button class="btn btn-default btn-block">Закрыть</button>
                        <button class="btn btn-default btn-block">Пометить на удаление</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!loading" class="col-xs-12 col-sm-8 col-sm-pull-4 text-center">
        <div class="panel panel-default">
            <table class="table table-striped table-bordered" [ngClass]="{'table-hover': !invoice.isFixed}">
                <tr>
                    <th class="text-center">№</th>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Ед. изм.</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                </tr>
                <tr *ngFor="let register of registers; let n = index" (click)="onSelect(register.id)" (dblclick)="onOpen(selectedRegister.id)"
                    [class.info]="register == selectedRegister" class="invoice-list-item" [style.cursor]="invoice.isFixed ? 'default' : 'pointer'">
                    <td class="text-center">{{n+1}}</td>
                    <td>{{register.name}}</td>
                    <td>{{register.amount}}</td>
                    <td>{{register.dimension}}</td>
                    <td>{{register.cost}} {{currency}}</td>
                    <td>{{register.sum}} {{currency}}</td>
                </tr>
            </table>
        </div>
        <div *ngIf="registers.length == 0">
            <h3>Список пуст</h3>
        </div>
    </div>
</div>

<modal id="modal-new-register">
    <div id="modal-1" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="onCloseModal('modal-new-register')">&times;</button>
                    <h4 class="modal-title">Новая позиция</h4>
                </div>
                <form name="form1" (ngSubmit)="f1.form.valid && onAdd()" #f1="ngForm">
                    <div class="modal-body">
                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !item.valid }">
                            <label for="register-item">Наименование</label>
                            <select class="form-control" name="register-item" [(ngModel)]="register.itemId" #item="ngModel" (change)="getBatchesByItem()"
                                required>
                                <option *ngFor="let item of items" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div *ngIf="f1.submitted && !item.valid" class="help-block">Требуется выбрать наименование</div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !amount.valid }">
                            <label for="register-amount">Количество</label>
                            <input type="number" class="form-control" name="register-amount" [(ngModel)]="register.amount" #amount="ngModel" required/>
                            <div *ngIf="f1.submitted && !amount.valid" class="help-block">Требуется указать количество</div>
                        </div>

                        <!--- Поля для приходных накладных-->
                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !cost.valid }" *ngIf="invoiceType.alias == 'arrival'">
                            <label for="register-cost">Цена (за шт.)</label>
                            <input type="number" class="form-control" name="register-cost" [(ngModel)]="register.cost" #cost="ngModel" required />
                            <div *ngIf="f1.submitted && !cost.valid" class="help-block">Требуется ввести цену за единицу</div>
                        </div>
                        <!---->

                        <!--- Поля для расходных накладных-->
                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !batch.valid }" *ngIf="invoiceType.alias == 'consumption'">
                            <label for="register-batch">Остатки</label>
                            <select class="form-control" name="register-batch" [(ngModel)]="register.cost" #batch="ngModel" required>
                                <option *ngFor="let batch of batches" value="{{batch.cost}}">{{batch.amount}} шт. по цене {{batch.cost}} {{currency}}</option>
                            </select>
                            <div *ngIf="f1.submitted && !batch.valid" class="help-block">Требуется указать источник расхода</div>
                        </div>
                        <!---->

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Добавить</button>
                            <img *ngIf="loading" src="../../../assets/images/loading_small.gif" />
                            <a (click)="onCloseModal('modal-new-register')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>

<modal id="modal-edit-register">
    <div id="modal-2" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="onCloseModal('modal-edit-register')">&times;</button>
                    <h4 class="modal-title">Редактирование позиции</h4>
                </div>
                <form name="form1" (ngSubmit)="f2.form.valid && onChange()" #f2="ngForm" novalidate>
                    <div class="modal-body">

                        <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !item.valid }">
                            <label for="register-item">Наименование</label>
                            <select class="form-control" name="register-item" [(ngModel)]="register.itemId" #category="ngModel" (change)="getBatchesByItem()"
                                required>
                                <option *ngFor="let item of items" value="{{item.id}}">{{item.name}}</option>
                            </select>
                            <div *ngIf="f2.submitted && !item.valid" class="help-block">Требуется выбрать наименование</div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !name.valid }">
                            <label for="register-amount">Количество</label>
                            <input type="number" class="form-control" name="register-amount" [(ngModel)]="register.amount" #name="ngModel" required />
                            <div *ngIf="f2.submitted && !name.valid" class="help-block">Требуется ввести название</div>
                        </div>

                        <!--- Поля для приходных накладных-->
                        <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !cost.valid }" *ngIf="invoiceType.alias == 'arrival'">
                            <label for="register-cost">Цена (за шт.)</label>
                            <input type="number" class="form-control" name="register-cost" [(ngModel)]="register.cost" #cost="ngModel" required />
                            <div *ngIf="f2.submitted && !cost.valid" class="help-block">Требуется ввести цену за единицу</div>
                        </div>
                        <!---->

                        <!--- Поля для расходных накладных-->
                        <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !batch.valid }" *ngIf="invoiceType.alias == 'consumption'">
                            <label for="register-batch">Остатки</label>
                            <select class="form-control" name="register-batch" [(ngModel)]="register.cost" #batch="ngModel" required>
                                <option *ngFor="let batch of batches" value="{{batch.cost}}">{{batch.amount}} шт. по цене {{batch.cost}} {{currency}}</option>
                            </select>
                            <div *ngIf="f2.submitted && !batch.valid" class="help-block">Требуется указать источник расхода</div>
                        </div>
                        <!---->

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Изменить</button>
                            <img *ngIf="loading" src="../../../assets/images/loading_small.gif" />
                            <a (click)="onCloseModal('modal-edit-register')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>