<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="panel-group" id="invoice-accordion-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#invoice-accordion" data-target="#info-panel">
                        Информация
                    </a>
                </div>
                <div id="info-panel" class="panel-collapse collapse in">
                    <div class="panel-body">

                        <p>Автор:
                            <strong>{{invoice.userFullName}}</strong>
                        </p>

                        <p>Дата создания:
                            <strong>{{invoice.createDate | fulldate}}</strong>
                        </p>

                        <div *ngIf="invoiceType.alias != 'template'">
                            <p *ngIf="invoice.isFixed">Статус:
                                <strong>проведён</strong>
                            </p>
                            <p *ngIf="!invoice.isFixed">Статус:
                                <strong>не проведён</strong>
                            </p>
                        </div>

                        <p *ngIf="invoiceType.alias != 'template'">Общая сумма:
                            <strong>{{sum | currency}}</strong>
                        </p>

                        <p *ngIf="invoice.isFixed && invoiceType.alias == 'arrival'">Поставщик:
                            <strong>{{invoice.vendorName}}</strong>
                        </p>

                        <div class="input-group" *ngIf="invoiceType.alias == 'template' && !invoice.isFixed">
                            <div class="input-group-addon">Имя</div>
                            <input type="text" class="form-control" name="template-name" [(ngModel)]="invoice.name" placeholder="Название" #name="ngModel"
                                required>
                            <div class="input-group-addon">
                                <a [routerLink]="" (click)="onNameChanged()">Изменить</a>
                            </div>
                            <div *ngIf="!name.valid" class="help-block">Имя не может быть пустым</div>
                        </div>

                        <div class="form-group inline" *ngIf="invoiceType.alias == 'arrival' && !invoice.isFixed">
                            <label for="vendor-select">Поставщик</label>
                            <select class="form-control" name="vendor-select" [(ngModel)]="invoice.vendorId" #vendor="ngModel" [ngClass]="{'disabled' : invoice.isFixed}"
                                (change)="onVendorChanged()">
                                <option *ngFor="let vendor of vendors" value="{{vendor.id}}">{{vendor.name}}</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#invoice-accordion" data-target="#edit-panel">
                        Редактирование
                    </a>
                </div>
                <div id="edit-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : invoice.isFixed}" (click)="onOpenTemplates()" *ngIf="invoiceType.alias == 'consumption'">Добавить услугу</button>
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : invoice.isFixed}" (click)="onCreate()">Добавить позицию</button>
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : selectedRegister == null || invoice.isFixed}" (click)="onOpen()">Изменить позицию</button>
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : selectedRegister == null || invoice.isFixed}" (click)="onDelete()">Удалить позицию</button>
                        <button class="btn btn-default btn-block" [ngClass]="{'disabled' : invoice.isFixed}" (click)="onClear()">Очистить</button>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#invoice-accordion" data-target="#control-panel">
                        Действия
                    </a>
                </div>
                <div id="control-panel" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <button class="btn btn-default btn-block" *ngIf="invoiceType.alias != 'template'" [ngClass]="{'disabled' : invoice.isFixed || registers.length == 0}"
                            (click)="onFix()">Провести</button>
                        <button class="btn btn-default btn-block" (click)="toBack()">Назад</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-sm-pull-4 text-center">
        <app-loading-icon></app-loading-icon>
        <div class="panel panel-default" *ngIf="!loadingService.getLoadingStatus()">
            <table class="table table-striped table-bordered table-condensed" [ngClass]="{'table-hover': !invoice.isFixed}" *ngIf="registers.length > 0">
                <tr>
                    <th class="text-center">№</th>
                    <th class="text-center">Наименование</th>
                    <th class="text-center">Кол-во</th>
                    <th class="text-center">Ед. изм.</th>
                    <th class="text-center" *ngIf="invoiceType.alias != 'template'">Цена</th>
                    <th class="text-center" *ngIf="invoiceType.alias != 'template'">Сумма</th>
                </tr>
                <tr *ngFor="let register of registers; let n = index" (click)="onSelect(register.id)" (dblclick)="onOpen(selectedRegister.id)"
                    [ngClass]="{'class.info': register == selectedRegister, 'danger': register.cost < 0}" class="invoice-list-item"
                    [style.cursor]="invoice.isFixed ? 'default' : 'pointer'">
                    <td class="text-center">{{n+1}}</td>
                    <td>{{register.name}}</td>
                    <td>{{register.amount}}</td>
                    <td>{{register.dimension}}</td>
                    <td *ngIf="invoiceType.alias != 'template'">
                        <div *ngIf="register.cost >= 0">{{register.cost | currency}}</div>
                    </td>
                    <td *ngIf="invoiceType.alias != 'template'">
                        <div *ngIf="register.sum >= 0">{{register.sum | currency}}</div>
                    </td>
                </tr>
                <tr *ngIf="invoiceType.alias != 'template'">
                    <td colspan="3"></td>
                    <td>
                        <strong>Общая сумма:</strong>
                    </td>
                    <td colspan="2">
                        <strong>{{sum | currency}}</strong>
                    </td>
                </tr>
            </table>
        </div>
        <div *ngIf="registers.length == 0 && !loadingService.getLoadingStatus()">
            <h4>Список пуст</h4>
        </div>
    </div>
</div>

<modal id="modal-register">
    <div id="modal-1" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="onCloseModal('modal-register')">&times;</button>
                    <h4 class="modal-title">{{modal.title}}</h4>
                </div>
                <form name="form1" (ngSubmit)="f1.form.valid && onFormSubmit()" #f1="ngForm">
                    <div class="modal-body">

                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !categoryId }">
                            <!--<ng-select [items]="optionCategories" [allowClear]="true" placeholder="Категория" filterPlaceholder="Введите название категории"
                                (selected)="onCategoryChanged($event)" [(ngModel)]="categoryId" (deselected)="getAllItems()"
                                name="category">
                            </ng-select>-->
                            <label for="selectCategory">Категория</label>
                            <select class="form-control" [(ngModel)]="categoryId" #selectCategory="ngModel" (change)="onCategoryChanged()" name="selectCategory"
                                placeholder="test" required>
                                <option *ngIf="optionCategories.length > 0" [ngValue]="null" disabled>Выберите категорию</option>
                                <option *ngIf="optionCategories.length == 0" [ngValue]="null" disabled>Список пуст</option>
                                <option *ngFor="let option of optionCategories" [value]="option.id">{{option.text}}</option>
                            </select>
                            <div *ngIf="f1.submitted && !categoryId" class="help-block">Требуется указать категорию</div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && register.itemId == null }">
                            <!--<ng-select [items]="optionItems" [(ngModel)]="register.itemId" [allowClear]="true" placeholder="Наименование" filterPlaceholder="Введите наименование"
                                (selected)="onItemChanged($event)" name="item">
                            </ng-select>-->
                            <label for="selectItem">Наименование</label>
                            <select class="form-control" [(ngModel)]="register.itemId" #selectItem="ngModel" required name="selectItem" (change)="onItemChanged()">
                                <option *ngIf="optionItems.length > 0" [ngValue]="null" disabled>Выберите наименование</option>
                                <option *ngIf="optionItems.length == 0" [ngValue]="null" disabled>Список пуст</option>
                                <option *ngFor="let option of optionItems" [value]="option.id">{{option.text}}</option>
                            </select>
                            <div *ngIf="f1.submitted && register.itemId == null" class="help-block">Требуется выбрать наименование</div>
                        </div>

                        <!--- Поля для приходных накладных-->
                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !cost.valid }" *ngIf="invoiceType.alias == 'arrival'">
                            <label for="register-cost">Цена за ед.</label>
                            <input type="number" class="form-control" name="register-cost" [(ngModel)]="register.cost" placeholder="Цена за ед." #cost="ngModel"
                                required />
                            <div *ngIf="f1.submitted && !cost.valid" class="help-block">Требуется ввести цену за единицу</div>
                        </div>
                        <!---->

                        <!--- Поля для расходных накладных-->
                        <div class="form-group" *ngIf="invoiceType.alias == 'consumption' || invoiceType.alias=='writeoff'" [ngClass]="{ 'has-error': f1.submitted && registerCost == 0 }">
                            <!--<ng-select [items]="optionBatches" [allowClear]="true" placeholder="Остатки" filterPlaceholder="Укажите остаток" (selected)="onBatchChanged($event)"
                                [(ngModel)]="registerCost" name="cost">
                            </ng-select>
                            <div *ngIf="f1.submitted && registerCost == 0" class="help-block">Требуется указать остаток</div>-->
                            <label for="selectCost">Остаток и стоимость</label>
                            <select class="form-control" [(ngModel)]="registerCost" #selectCost="ngModel" required name="selectCost" (change)="onBatchChanged()">
                                <option *ngIf="optionBatches.length > 0" [ngValue]="null" disabled>Укажите остаток</option>
                                <option *ngIf="optionBatches.length == 0" [ngValue]="null" disabled>Остатки отсутствуют</option>
                                <option *ngFor="let option of optionBatches" [value]="option.id">{{option.text}}</option>
                            </select>
                            <div *ngIf="f1.submitted && !registerCost" class="help-block">Требуется указать остаток</div>
                        </div>
                        <!---->

                        <div class="form-group" [ngClass]="{ 'has-error': f1.submitted && !amount.valid }">
                            <label for="register-amount">Кол-во</label>
                            <input type="number" class="form-control" name="register-amount" [(ngModel)]="register.amount" #amount="ngModel" min="0"
                                placeholder="Количество" required/>
                            <div *ngIf="f1.submitted && !amount.valid" class="help-block">Требуется указать количество</div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button class="btn btn-primary">{{modal.submit}}</button>
                            <a (click)="onCloseModal('modal-register')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>

<modal id="modal-template">
    <div id="modal-2" class="modal show" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="onCloseModal('modal-template')">&times;</button>
                    <h4 class="modal-title">{{modal.title}}</h4>
                </div>
                <form name="form2" (ngSubmit)="f2.form.valid && addRegistersFromTemplate()" #f2="ngForm">
                    <div class="modal-body">
                        <div class="form-group">
                            <!--
                            <ng-select [items]="optionTemplates" [allowClear]="true" placeholder="Шаблон" filterPlaceholder="Выберите шаблон услуги"
                                [(ngModel)]="templateInvoiceId" name="template">
                            </ng-select>
                            <div *ngIf="f2.submitted && templateInvoiceId == ''" class="help-block">Требуется выбрать шаблон</div>
                        -->
                            <label for="selectTemplate">Шаблон</label>
                            <select class="form-control" [(ngModel)]="templateInvoiceId" #selectTemplate="ngModel" required name="selectTemplate">
                                <option *ngIf="optionTemplates.length > 0" [ngValue]="null" disabled>Выберите шаблон</option>
                                <option *ngIf="optionTemplates.length == 0" [ngValue]="null" disabled>Шаблоны отсутствуют</option>
                                <option *ngFor="let option of optionTemplates" [value]="option.id">{{option.text}}</option>
                            </select>
                            <div *ngIf="f1.submitted && !templateInvoiceId" class="help-block">Требуется выбрать шаблон</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="form-group">
                            <button class="btn btn-primary">{{modal.submit}}</button>
                            <a (click)="onCloseModal('modal-template')" class="btn btn-link">Отмена</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</modal>