<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div class="title">Сириус-Вет</div>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left"> 

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Документы
                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/invoices/consumption']">Расход</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/invoices/arrival']">Приход</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/invoices/writeoff']">Списание</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/invoices/template']">Шаблоны услуг</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/items']">Наименования</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/categories']">Категории</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/vendors']">Поставщики</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/dimensions']">Единицы измерения</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Отчеты
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/batches']">Остатки</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/report/arrival']">Приход</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/report/consumption']">Расход</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/report/writeoff']">Списание</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Система
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/about']">Информация
                            </a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/help']">Помощь
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/login']">Выход
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" *ngIf="isAdmin">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Администрирование
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/settings']">Настройки</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/users']">Пользователи</a>
                        </li>
                        <li routerLinkActive="link-active">
                            <a [routerLink]="['/logs']">Журнал</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>